:root {
  --black: #000;
  --green: #253334;
  --white: #FFF;
  --white-700: rgba(255, 255, 255, 0.7);
  --white-500: rgba(255, 255, 255, 0.5);
  --text-from: #BEC2C2;
  --btn-form: #7C9A92;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

.p-base {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 60px;
}

.df {
  display: flex;
}
.jcsb {
  justify-content: space-between;
}
.jcc {
  justify-content: center;
}
.aic {
  align-items: center;
}
.fdc {
  flex-direction: column;
}

.h100vh {
  height: 100vh;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  background: var(--green);
  color: var(--white);
}

form {
  gap: 30px;
}

.bg-main {
  background: url(./bg-main.jpg) center center no-repeat;
  background-size: cover;
  height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

