:root {
  --gren-900: rgba(37, 51, 52, 1);
  --white-900: #FFF;
  --white-700: rgba(255, 255, 255, 0.7);
  --white-500: rgba(255, 255, 255, 0.5);
  --text-from: rgba(190, 194, 194, 1);
  --btn-form: rgba(124, 154, 146, 1);
}

*,
*::before,
*::after { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 400;
  min-height: 100vh;
  background: var(--gren-900);
  color: var(--white-900);
} 
